<!--<app-slider [title]="'Crear Articulo'" [size]="'small'"></app-slider>-->

<div class="center">
    <section id="content">
        <h1 class="subheader">{{ titulo }}</h1>
        <form #articuloForm="ngForm"  class="mid-form" (ngSubmit)='enviarFormulario()'>
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required/>
                <small *ngIf="!title.valid && title.touched">
                    ¡El title no es valido!
                </small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>
                <small *ngIf="!content.valid && content.touched">
                    ¡Contenido Invalida!
                </small>            
            </div>
            <div class="form-group">
                <angular-file-uploader 
                         [config]="afuConfig" 
                         (ApiResponse)="imageUpload($event)">
                </angular-file-uploader>
            </div>

            <div class="form-group" *ngIf="edit">
                  <img class="imagenedit" src="http://localhost:3900/api/get-image/{{article.image}}" alt="{{article.title}}" />
            </div>



 

            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn btn-success" />

        </form>



    </section>
</div>
