<app-slider [title]="'Peliculas'" [size]="'small'"></app-slider>

<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">Pelicula Favorita</h2>

            {{favorita.title}}
        </div>

        <h1 class="subheader">Peliculas</h1>

        <article class="article-item" id="article-template" *ngFor="let pelicula of peliculas">
           <app-pelicula [pelicula]="pelicula" (MarcarFavorita)="mostrarFavorita($event)"></app-pelicula>
        </article>

    </section>
</div>